.ip-background { 
  display: flex; 
  color: white; 
  justify-content: center;
  font-family: 'CommissionerBold'; 
}

.ip-full-container { 
  padding-top: 2.5%; 
  width: 60%; 
}
.ip-matches-container { 
  flex-direction: column; 
  
}
.ip-match-row-container { 
  border-bottom: 2px solid white; 
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  display:flex; 
  align-content: space-between;
  align-items: center;

}

.ip-header-section  {
  border-bottom: 5px solid white; 
  display: flex;
  justify-content: flex-end;
}
.ip-date-label { 
  flex-grow: 1; 
}


.ip-matches-info {
  margin-right: 4%;
  display: flex;
  align-items: center;
}
.ip-matches-info-button,  .ip-matches-info-button-selected , .ip-matches-info-button-correct, .ip-matches-info-button-incorrect{ 
  margin-left: 2%;
  margin-right: 2%;
  border: none; 
  cursor: pointer; 
  outline: none; 
  padding-top: 2%; 
  padding-bottom: 2%; 
  border-radius: 5%;
}

.ip-matches-info-button {
  background-color: transparent;
}
.ip-matches-info TeamBox {
  cursor: pointer; 
}
.ip-matches-info-button-selected {
  background-color: rgb(76, 135, 245);
}

.ip-matches-info-button-correct {
  background-color: rgb(92, 155, 92);
}

.ip-matches-info-button-incorrect {
  background-color: rgb(165, 40, 40);
}
.ip-header-section select {
  background-color: #222629;
  color: white; 
  font-family: 'ComissionerBold'; 
  outline: none; 
}
.ip-navigation-buttons { 
  background-color: #222629;
  color: white; 
  border: none;
  cursor:pointer;
  font-family: 'CommissionerBold';
  outline: none;
  cursor: pointer;
}

.ip-redirect-button { 
  background-color: #222629;
  color: white; 
  border: white 2px solid ;
  cursor:pointer;
  font-family: 'CommissionerBold';
  outline: none;
}

.ip-redirect-button:hover { 
  color: #222629;
  background-color: white; 
  border: white 2px solid ;
  cursor:pointer;
  font-family: 'CommissionerBold';
  outline: none;
}
.ip-navigation-buttons:hover {
  color:  #ff7e1f; 
}
@font-face {
  font-family: 'CommissionerBold';
  src: local('CommissionerBold'), url(../res/fonts/Commissioner/Commissioner-Bold.ttf) format('truetype');
}