.trivia-background {
    position:fixed;
    z-index: -1;
    width:100%;
    height:100%;
    background-color: #222629;
    padding-bottom: 2.63157894737vw;
}
 
.left-segment {
    width:64%;
    height:100%;
    float:left;
}
 
.right-segment {
    width:32.5%;
    height:100%;
    float:left;
}

.timeBox {
    margin-top: 1%;
    height: 10%;
    text-align: center;
    width: 90%;
    margin: 0% 2% 0% 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-family: 'CommissionerMedium';
    font-size: 5vw;
    color: white;
}

.trivia-wait {
  font-family: 'CommissionerMedium';
  font-size: 2vw;
  color: white;
}


.clockRed{
    width: 90%;
    height: 1%;
    background-color: red;
    margin: 1% 2% 0% 8%;
    border-radius: 0.26315789473vw;
}

.clock {
    width: 100%;
    height: 100%;
    opacity: 30%;
    background-color: white;
    border-radius: 0.26315789473vw;
}

.clockTick {
    position:relative;
    height: 100%;
    width:10%;
    float: right;
    background-color: #222629;
    z-index:8;
}

.questionBox {
    border-radius: 0.78947368421vw;
    margin:1% 2% 0% 8%;
    /* padding:5%; */
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#747474;
    text-align:center;
}
 
 
#question {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size:1.5vw;
    white-space: pre-wrap;
    color: white;
}
 
.answers {
    width:100%;
    height:30%;
}
 
.leftAnswers {
    width:42.5%;
    height:28%;
    margin: 2% 0% 0% 10%;
    margin-right:0.8%;
    float:left;
    text-align: center;
}
 
.rightAnswers {
    width:42.5%;
    margin: 2% 0% 0% 0%;
    height:28%;
    float:left;
    text-align:center;
}
 
.answer1Box {
    border-radius: 0.31578947368vw;
    margin-right:0.75%;
    height: 6vw;
    position: relative;
    background-color:#d30909;
}

.answer1Box:hover {
    background-color: #900a0a;
}

.answer1Box-nohover {
  border-radius: 0.31578947368vw;
  margin-right:0.75%;
  height: 6vw;
  position: relative;
  background-color:#d30909;
}

.answer1Box-hover {
  border-radius: 0.31578947368vw;
  margin-right:0.75%;
  height: 6vw;
  position: relative;
  background-color: #900a0a;
}

.answer2Box {
    margin-top:3%;
    margin-right:0.75%;
    border-radius: 0.31578947368vw;
    height: 6vw;
    position: relative;
    background-color:#f4b800;
}

.answer2Box:hover {
    background-color: #a27a00;
}

.answer2Box-nohover {
  margin-top:3%;
  margin-right:0.75%;
  border-radius: 0.31578947368vw;
  height: 6vw;
  position: relative;
  background-color:#f4b800;
}

.answer2Box-hover {
  margin-top:3%;
  margin-right:0.75%;
  border-radius: 0.31578947368vw;
  height: 6vw;
  position: relative;
  background-color: #a27a00;
}

.answer3Box {
    margin-left:0.75%;
    border-radius: 0.31578947368vw;
    height: 6vw;
    position: relative;
    background-color:#ff6600;
}

.answer3Box:hover {
    background-color: #bc4b00;
}

.answer3Box-nohover {
  margin-left:0.75%;
  border-radius: 0.31578947368vw;
  height: 6vw;
  position: relative;
  background-color:#ff6600;
}

.answer3Box-hover {
  margin-left:0.75%;
  border-radius: 0.31578947368vw;
  height: 6vw;
  position: relative;
  background-color: #bc4b00;
}

.answer4Box {
    margin-left:0.75%;
    margin-top:3%;
    border-radius: 0.31578947368vw;
    height: 6vw;
    position: relative;
    background-color:#61b305;
}

.answer-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.answer4Box:hover {
    background-color: #457e04;
}

.answer4Box-nohover {
  margin-left:0.75%;
  margin-top:3%;
  border-radius: 0.31578947368vw;
  height: 6vw;
  position: relative;
  background-color:#61b305;
}

.answer4Box-hover {
  margin-left:0.75%;
  margin-top:3%;
  border-radius: 0.31578947368vw;
  height: 6vw;
  position: relative;
  background-color: #457e04;
}

.answer1, .answer2, .answer3, .answer4 {
    margin-left: 1vw;
    margin-right: 1vw;
    position:relative;
    white-space: pre-wrap;
    font-family: 'CommissionerMedium';
    font-size:1vw;
    align-items: center;
    color: white;
}
 
.history {
    margin-left:7%;
    margin-top:5%;
    border-radius: 0.52631578947vw;
    height:80%;
    width:85%;
    background-color: #565656;
}
 
.info {
    border-top-left-radius: 0.52631578947vw;
    border-top-right-radius: 0.52631578947vw;
    height:20%;
    padding:0.5%;
    background-color:#404040;
}
 
.triviaType {
    font-family:'CommissionerMedium';
    font-size: calc(1.05263157895vw + 6 * ((100vh - 10.5263157895vw) / 400));
    margin: 5% 0% 5% -20%;
}
 
.historyText {
    font-family:'CommissionerMedium';
    font-size: calc(0.42105263157vw + 5 * ((100vh - 10.5263157895vw) / 500));;
    margin: 2% 0% 0% -15%;
}
 
.questionHistory {
    width:100%;
    height:3.5%;
}
 
.questionHistory-left {
    margin-left:8%;
    margin-top:2%;
    width:80%;
    font-size: 2vh;
    float:left;
}
 
.questionHistory-right {
    width:5%;
    height:100%;
    margin-top:2%;
    background-color: #61b305;
    float:left
}
 
.profile {
    height: 50%;
    width: 100%;
}
 
.user-border {
    margin-left: 30%;
    height: 50%;
    width: 20%;
    background-size: cover;
    float:left;
  }
 
.points {
    height:100%;
    width: 20%;
    margin-left:5%;
    font-size: 20vh;
    font-family:'CommissionerMedium';
    float:left;
    color: white;
}
 
.profilePic {
  margin-top:18%;
  margin-left:15%;
  height: 70%;
  width: 65%;
  border-radius:100%;
  background-color: black;
  background-size: contain;
}

.answer-icons-div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.crown-icon-div {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
}

.answer-icons {
  margin-left: auto;
  margin-top: 0.2vw;
  margin-right: 0.3vw;
}

.crown-icon {
    width: 5vw;   
    height: 5vw;
    margin-bottom:3%;
    border-radius: 50%; 
}

.answer-icon {
  margin-left: 0.2vw;
  width: 1.87895vw;   
  height: 1.87895vw;
  border-radius: 50%; 
}

@font-face {
    font-family: 'CommissionerMedium';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Medium.ttf) format('truetype');
}
