/**************************** STYLING FOR OVERALL LOGIN PAGE ***********************************/
.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url("../res/images/LoginBackground.png");
    background-size: cover;
}

.login {
    position: center;
    margin-top:7%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**************************** STYLING FOR HEADER/LOGO SECTION  ***********************************/

.logo {
    min-width: 35%;
}

.sloganLogin {
    color: white;
    font-family: 'CommissionerBold';
    font-size: 40px;
}

/**************************** STYLING FOR USER INPUT SECTION  ***********************************/

.identifier {
    width: 25%;
    margin-top: 20px;
}

.text {
    color:white;
    position: center;
    font-size: 20px;
    font-family: 'CommissionerMedium';
}

.input {
    width:100%;
    height:50px;
    font-size:25px;
    border-width:5px;
}

.input:focus {
    outline:none;
}

.passwordlink {
    color: #FF7e1F;
    font-size:22px;
    font-family: 'CommissionerMedium';
    font-weight: 500;
    text-decoration: none;
}

.passwordlink:hover {
    color: #FF7e1F;
    font-size:22px;
    font-family: 'CommissionerMedium';
    font-weight: 500;
    text-decoration: none;
}

/**************************** STYLING FOR LOGIN BUTTON  ***********************************/

.loginBtn {
    background-color: #FF7e1F;
    border: none;
    border-radius: 50px;
    height: 65px;
    width: 15%;
    color: white;
    font-family: 'CommissionerMedium';
    text-align: center;
    display: inline-block;
    font-size: 28px;
    font-weight: 650;
    margin: 20px;
}

.loginBtn:focus {
    outline:none;
}

/**************************** STYLING FOR SIGN UP SECTION  ***********************************/

.boldtext {
    color:white;
    font-weight: 600;
    font-size:25px;
    font-family: 'CommissionerMedium';
}

.signuplink {
    color: #FF7e1F;
    font-size:24px;
    font-family: 'CommissionerMedium';
    font-weight: 700;
    text-decoration: none;
    
}

.signuplink:hover {
    color: #FF7e1F;
    font-size:24px;
    font-family: 'CommissionerMedium';
    font-weight: 700;
    text-decoration: none;
}

.signup {
    position:center;
}

/**************************** FONT SECTION  ***********************************/

@font-face {
    font-family: 'CommissionerExtraBold';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'CommissionerBold';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CommissionerMedium';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'CommissionerRegular';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'CommissionerBlack';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'CommissionerLight';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Light.ttf) format('truetype');
}


@font-face {
    font-family: 'CommissionerThin';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'CommissionerSemiBold';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-SemiBold.ttf) format('truetype');
}
