.profile-popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.profile-popup-popup-content {   
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 10px;  
  background: #747474;   
}
.profile-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  order: 1; 
  flex-grow: 6;
  padding: 2% 10%; 
}

.profile-popup-close-button{
  float:right;
}
.profile-popup-close-button , .profile-popup-submit-button{ 
  background-color: #747474;
  color: white; 
  border-color: white; 
  border-style: solid;
}
.profile-popup-input {
  word-break: break-all;
  padding-bottom: 250px;  
}
.profile-popup-submit-button {
  margin-top: 10px;
  align-self: flex-end;
  padding: 5px , 10px; 
  width: 100px; 
}
.profile-popup-close-button:hover , .profile-popup-submit-button:hover { 
  color: #747474;
  background-color: white; 
}
