.popup {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  position: absolute;
  margin: auto;
  border-radius: 20px;
  background: #313538;
}

.form {
  text-align: left;
}

/* Example css for .SignUpBtn */
/* .SignUpBtn {
  padding-left: 2em;
  padding-right: 2em;

  background-color: #FF7e1F;
  border: none;
  border-radius: 3em;
  height: 3em;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 650;
} */

.div-name {
  display: flex;
}

.div-firstname {
  display: flex;
  flex-direction: column;
}

.div-lastname {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.form-label {
  display: block;
  color:  #FF7e1F;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
}

.signup-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-logo {
  width:400px;
  text-align: center;
}

.slogan {
  margin-bottom: 10px;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 650;
}

.input-firstname {
  display: inline-block;
  margin-top: 8px;
  padding: 12px;
  border-radius: 8px;
  width: 180px;
  font-size: 15px;
  border: none;
}

.input-lastname {
  display: inline-block;
  margin-top: 8px;
  padding: 12px;
  border-radius: 8px;
  width: 180px;
  font-size: 15px;
  border: none;
}

.form-question {
  color:  #FF7e1F;
  margin-bottom: -4px;
}

.signup-input-field {
  margin-top: 8px;
  padding: 12px;
  border-radius: 8px;
  width: 389px;
  font-size: 15px;
  border: none;
}

.birthdate-container {
  display: flex;
  margin: 0 -5px;
}

.select-month, .select-day, .select-year {
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: 135.33px;
  
  padding: 5px;
  padding-left: 7px;
  border-radius: 4px;
  font-size: 15px;
}

.select-highestLevelOfPlay {
  margin-top: 8px;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 413px;

  border-radius: 8px;
  border: none;
  font-size: 15px;


  /* Not supported on all browsers: https://stackoverflow.com/questions/10813528/is-it-possible-to-center-text-in-select-box */
  text-align: center;
  text-align-last: center;
}

.gender-container {
  display: flex;
  margin: 0 -5px;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-left: 2.5px;
  margin-right: 2.5px;
  background-color: white;
  border-radius: 4px;
  width: 135.33px;
  border: none;
}

.radio-text {
  margin-top: 0;
  flex: left;
  vertical-align: middle;
  color: black;
  padding: 5px;
  padding-left: 12px;
  font-size: 15px;
  border: none;
}

.gender-radio {
  margin-left: auto;
  margin-right: 8px;
}

.imageselect-container {
  margin-top: 7px;
}

.imageselect-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit, .imageselect-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding-left: 1.1em;
  padding-right: 1.1em;

  background-color: #FF7e1F;
  border: none;
  border-radius: 3em;
  height: 1.8em;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 650;
}

.imageselect-btn {
  margin-top:0;
}

.error-message {
  font-size: 12px;
  margin-bottom: 2px;
  color:  #FF7e1F;
  display: block;
}